
.required {
    color: red;
}
.logo img {
    margin: auto;
  
}
.login-card {
    width: 300px;
    margin: auto;
}
.login-btn {
    display: block;
    width: 200px;
    margin: 0 auto 1rem;
    text-transform: uppercase;
}
.admin-row h4 {
    text-align: center;
}
.admin-panel .card-body, .user-group-panel .card-body {
    min-height: 400px;
}
.user-group-panel .card-body {
    min-width: 300px;
    padding: .25rem;
}
.control-labels label {
    margin: 10px 0 0 10px;
}
.control-buttons i {
   margin-right: 5px;
}
.user-group:hover {
    background: #e5e5e5;
}
.group, .user-group {
    border: 1px solid #e5e5e5;
    min-height: 50px;
    min-width: 300px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    
}
.group img, .modal-header img {
    float: left;
    margin-right: 10px;
    width: 50px;
    
}
.group span,  .user-group span {
    display: inline;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
    padding-right: 5px;
  }
.selection-controls {
    flex-wrap: wrap;    
}
.select-add, .select-remove {
    flex-basis: 100%;
}
.select-add button, .select-remove button {
    min-width: 75px;
}
.fa-angle-left, .fa-angle-right {
    padding: 10px;
    cursor: pointer;
}
.fa-angle-left:hover, .fa-angle-right:hover {
    color: blue;
}
#showGroupDesc p {
    font-size: .75rem;
}
.activity-row-header {
    margin-left: .2rem;
    
}
.activity-row-header h1 {
    display: inline-block;
    position: relative;
    top: 12px;
    left: 5px;
}
.activity-row-desc {
    padding: 1rem 2rem;
}
.activity-row .card-body {
    min-height: 200px;
    padding: 0 2rem;
}
.activity-btn {
    float: right;
}
.card-text {
    margin-top: 20px;
}
.card-deactive {
    opacity: .5;
}
.user-activity-card-body {
    max-width: 200px;
    margin: 0;
    padding: .5rem;
    font-size: .75rem;
}
.my-activity-card {
    min-width: 300px;
}
.card-body.user-activity-card-body {
    margin: auto;
}
.footer-row {
    text-align: center;
}